<div class="row">
  <div class="span10 offset1">
    <%= render 'form-horizontal' %>
    <div id="links-seperator"></div>
    <%= will_paginate :class => 'pagination post_pagination' %>
    <%= render 'links/links' %>
    <%= will_paginate :class => 'pagination post_pagination' %>
  </div>
</div>
