<div class="row">
  <div class="span10 offset1">
    <h2>My Links</h2>
    <%= will_paginate :class => 'pagination post_pagination' %>
    <%= render 'links/links' %>
    <%= will_paginate :class => 'pagination post_pagination' %>
  </div>
</div>
