<% provide(:title, 'New Link') %>
<div class="row">
  <div class="span10 offset1">
    <div id="new-link-form">
      <%= render 'form' %>
    </div>

    <%= link_to 'Back', links_path %>
  </div>
</div>
