@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
    }
    &:after{
        clear:both;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  .footer_copyright a {
    color: $grayLight;
    &:hover {
      text-decoration: none;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 620px;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#new-link-form {
  input, textarea, select, .uneditable-input {
    width: 100%;
  }
  input[type="button"], input[type="reset"], input[type="submit"] {
    width: auto;
    height: auto;
  }
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.form-horizontal .field_with_errors:before {
  display: inline;
}

.form-horizontal .control-label {
  width: 70px;
  margin-right: 10px;
}

.create-link {
  margin-left: 80px;
}

/* Home page */

.recent_updates {
  h3 {
    margin-bottom: 12px;
  }
  h4 {
    margin-bottom: 12px;
  }
  li {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.240);
    .tweet_date{
      margin-top: 4px;
      color: $grayLight;
    }
  }
}

/* Pagination */

.pagination {
  height: 20px;
}

.pagination a {
  line-height: 20px;
}

/* Links List */

.links-list {
  list-style: none;
  margin-left: 0px;
  li {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid $grayMediumLight;
  }
}

.links-title {
 font-size: 150%;
 line-height: 150%;
}

.links-date {
  font-weight: bold;
  color: $grayLight;
}

#links-seperator {
  border-bottom: 1px solid $grayLight;
  margin-bottom: 40px;
}